[submodule "emoji-images"]
	path = emoji-images
	url = https://github.com/cj1128/emoji-images.git
[submodule "systematic-generalization-sqoop"]
	path = systematic-generalization-sqoop
	url = https://github.com/mengdi-li/systematic-generalization-sqoop.git
